html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  table{
    border:0.1px solid #d6d4d4;
  }
  td{vertical-align: 0;border:0.1px solid rgb(235, 237, 240)}
  th{
    text-align: center;
    vertical-align: 0;
    border:0.1px solid rgb(235, 237, 240);
    background-color: rgb(244, 246, 248);
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .clearfix:after {
    content: '';
    display: block;
    clear: both;
    float: none;
  }
  
  /* ======== Calendar ======== */
  .my-calendar {
    width: 1150px;
    padding: 20px 20px 10px;
    border: 1px solid #ddd;
  }
  .my-calendar .clicked-date {
    border-radius: 25px;
    margin-top: 36px;
    width: fit-content;
    padding: 46px 0 26px;
    background: #ddd;
  }
  .my-calendar .calendar-box {
    width: 100%;
    padding-left: 10px;
  }

  
  .clicked-date .cal-day {
    font-size: 24px;
  }
  .clicked-date .cal-date {
    font-size: 130px;
  }
  .ctr-box {
    display: flex;
    padding: 30px 0 20px 500px;
    font-size: 20px;
    color: rgb(70, 79, 90);
    background-color: rgb(244, 246, 248);
  }
  .ctr-box .btn-cal {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;

  }
  .ctr-box .btn-cal:after {
    content: '<';
    width: 100%;
    height: 100%;
    line-height: 25px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(70, 79, 90);
  }
  .ctr-box .btn-cal.next:after {
    content: '>';
    color: rgb(70, 79, 90);
  }
  .cal-table {
    width: 100%;
    color: b;
  }
  .cal-table th {
    width: 14.2857%;  padding-bottom: 5px;
    font-size: 16px;
    font-weight: 900;
  }
  .cal-table td {
    padding: 5px 0;
    height: 200px;
    font-size: 15px;
    /* vertical-align: middle; */
  }
  .cal-table td.day {
    position: relative;
    cursor: pointer;
  }
  .cal-table td.today {
    /* background: #ffd255; */
    box-shadow: 0 0 0 0.12rem rgb(70, 79, 90) inset; 
  }
  .cal-table td.day-active {
    background: #ff8585;
    color: #fff;
  }
  .cal-table td.has-event:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #FFC107;
  }

  .day div p{
    text-align: right;
    margin-right: 10px;
    font-size: 17px;
    text-shadow: 0.7px 0 rgb(70, 79, 90);
    color: rgb(70, 79, 90);
  }